body {
  margin: 10px;
  padding: 0;
  font-family: sans-serif;
}

.button.Constructor-typeBtn {
  margin: 5px;
}
.Constructor-wrapper {
  height: 750px;
}

.Constructor-NewPizzaWrapper {
  height: 400px;
}

.Constructor-ingredient {
  cursor: pointer;
}

.ui.segment.Constructor-currentIngredient {
  display: table;
  width: 100%;
}

.Constructor-currentIngredient ui.button.Constructor-deleteIngredient {
  float: right;
  display: table-cell;
  vertical-align: middle;
}

.Constructor-currentIngredient p {
  display: table-cell;
  vertical-align: middle;
}

.List-enabledPizza, .List-disabledPizza {
  min-height: 70px;
  height: 70px;
}

.List-enabledPizza, .List-disabledPizza td {
  font-size: 0.8em;
}

.List-enabledPizza {
  font-weight: 800;
}

.List-disabledPizza {
  text-decoration: line-through;
  font-weight: 100;
}
